* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
p {
  font-size: 17px;
  line-height: 1.5;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h4 {
    font-size: 15px;
  }
  p {
    font-size: 13px;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
}
